.button {
    border-radius : 20px;
    box-sizing: border-box;
    display: inline;
    
    &-bgred {
        padding: 10px 18px;
        background: $gradient-red;
        border: 2px solid $gradient-red;
        color: $color-white;
    }
    
    &-bgnone {
        padding: 8px 16px;
        background-color: transparent;
        border: 2px solid $color-red;
        color: $color-red;
    }
} 