.Form{
    text-align: left;
}

.form-container{
    display:flex;
    flex-direction: row;
    padding: 50px 50px 50px 0;
}

.form-group{
    padding-top: 0px;
}

.form-edit{
    background: rgba(230, 92, 0, 0.05);
    border: 2px solid rgba(230, 92, 0, 0.05);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    min-height: 90vh;
    width: 400px;
}

.form-show{
    margin-left: 40px;
    width: 100%;
    
}

.form-edit__header{
    padding: 30px 20px;
    border-bottom: solid 2px rgba(230, 92, 0, 0.05);
    font-size: 26px;
        textarea{
        font-weight: bold;
        background-color: rgba(0,0,0,0);
        border: none;
        color: #212529;
        overflow: hidden;
        resize: none;
    }
}
.form-edit__title{
    font-weight: bold;
    color: #000000;
}
.form-show__title{
    @include font-size(rem(48));
    font-weight: 800;
    margin: unset;
}

.form-show__body{
    height: auto;
}


.form-show__preview{
    margin: auto;
}

.edit-button{
    background: white;
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
    font-weight: bold;
    color: black;
    border-radius: 50px;
}

.edit-button:hover{ 
    background: rgba(230, 92, 0, 0.37);
}


.edit-card{
    border-bottom: solid 2px rgba(230, 92, 0, 0.05);
}

.edit-card__header{
    padding: 20px;
    position: relative;
}
.edit-card__title{
    font-weight: bold;
    font-size: 18px;
}

.edit-card__subtitle{
    font-weight: bold;
    color: #464646;
    font-size: 18px;

}
.edit-card__button{
    position: absolute;
    font-weight: bold;
    right: 20px;
}

.edit-card__header:hover{
    color: black;
}


.edit-card__section{
    padding: 10px 20px;
    &:not(:last-child){
        border-bottom: solid 2px rgba(230, 92, 0, 0.05);
    }
}

.edit-card__type{
    color: #000000;
    font-weight: bold;
}

.select-field{
    padding: 10px 0px;
}

.edit-card__label{
    padding-top:10px;
}

.custom-fa{
    margin-left: 15px;
    border: solid 1px;
    border-radius: 50%;
    background: white;
}


//POPUP D'EXPORT


.form-show__popup{
    margin: 15% auto; /* 15% from the top and centered */
    background-color: white;
    width: 50%;
    padding: 50px;
    position: relative;
}

#exportPopup{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 50; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.form-show__close{
    position: absolute;
    z-index: 100; /* Sit on top */
    top:5px ;
    right:5px;
    background-color: red;
}
.show__exporttext{
    border: solid 1px;
    background-color: rgb(211, 209, 209);
}

#table-root table input{
    background-color: rgba(0,0,0,0);
    border:none;
    width: 100%;
    height: 100%;
}

#table-root .form-show__typography{
    display: flex;
    align-items: center;
    margin: 30px 0;
    input{
        &.active{
            border: solid 2px #EB7808;
            border-radius: 5px;
        }
        &:focus{
            outline: none;
            border: solid 2px #EB7808;
            border-radius: 5px;
        }
        margin: 0 5px;
        padding: 5px;
    }
    select{
        border: none;
        border-bottom: solid 1px black;
        &:not(:first-child){
            margin: 0 20px;
        }
    }
    button{
        margin: 0 5px;
        border: solid 2px rgba(0,0,0,0);
        background-color: unset;
        &:focus{
            outline: none;
            border: solid 2px #EB7808;
            border-radius: 5px;
        }
    }
    .apply{
        width: unset;
        background-color: rgb(255, 154, 53);
        border-radius: 5px;
        &-buttons{
            padding: 5px;
            button:hover{
                outline: none;
                border: solid 2px #EB7808;
                border-radius: 5px;
            }
        }
    }
}

.app-show__helper{
    min-height: 1.5rem;
    margin: 30px 0;
}