.create_guest {
    padding-top: 50px;

    .button-bgred {
        background: $color-grey;
        pointer-events: none;
    }

    .import {
        border: none;
        background: $color-grey;
        color: grey;
        pointer-events: none;
    }
}