.sidebar{
    position: absolute;
    top: 0;
    left: -100%;
    bottom: 0;
    font-weight: bold;
    height: 100vh;
    width: 240px;
    border-right: 1px solid $color-grey;
    // padding: 20px 25px;
    margin-right: 40px;
    z-index: 6;
    background: $color-white;
    transition: 0.3s all ease-in-out;

    .icon-logout{
        @include md-breakpoint(){
            display: none;
        }
    }

    @include md-breakpoint(){
        position: initial;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &--open{
        left: 0;
    }

    &--collapsed{
        width: 92px;
        margin-right: 0;
        overflow: hidden;
        border-right: transparent;

        .sidebar-nav{
            a{
                & > span{
                    display: none;
                }
                
            }
        }

    }
    
    nav{
        a{
            &:hover,
            &.activ-link{
                background:$color-orange-transparent;
                border-left: 5px solid $color-red;
                color: $color-red;
            }
        }
    }
}

.sidebar-nav{
    position: relative;
    .close-sidebar{
        padding-right:20px;
        padding-top: 10px;
        float: right;
        color: $color-pink;
        font-size: rem(20);

        @include md-breakpoint(){
            display: none;
        }
    }
    a{
        display: block;
        color: $color-dark-grey;
        margin-bottom: 20px;
        padding: 15px 25px;
        transition: 0.3s all ease-in-out;
    }
}