@font-face {
  font-family: "Lato Regular";
  src: url(/fonts/lato-regular-webfont.woff2?bd33d7e16416dbbc7c4e9c3159b85c92) format("woff2"), url(/fonts/lato-regular-webfont.woff?b698e88ec31d977ba3cbd5dbffff0cdc) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato Light";
  src: url(/fonts/lato-light-webfont.woff2?b961202510552034947199817639bd8e) format("woff2"), url(/fonts/lato-light-webfont.woff?e6b96f13640e3f80de7b17dbe38bb4d0) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato Thin";
  src: url(/fonts/lato-thin-webfont.woff2?3bf06eaf0e9d62d9877ac24dabea7450) format("woff2"), url(/fonts/lato-thin-webfont.woff?393f9c432dd538a53eb13ba49e969b68) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato Bold";
  src: url(/fonts/lato-bold-webfont.woff2?374bdc84f96562255dc2fa08d5b51750) format("woff2"), url(/fonts/lato-bold-webfont.woff?e839640f89206d5543b3e9e4de65cd32) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato Semibold";
  src: url(/fonts/lato-bold-webfont.woff2?374bdc84f96562255dc2fa08d5b51750) format("woff2"), url(/fonts/lato-bold-webfont.woff?e839640f89206d5543b3e9e4de65cd32) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato Extrabold";
  src: url(/fonts/lato-extrabold-webfont.woff2?9699c08abe69382ac35039ab9109656e) format("woff2"), url(/fonts/lato-extrabold-webfont.woff?fab91ad9f5c641550a7a45a246917613) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato Black";
  src: url(/fonts/lato-black-webfont.woff2?0808786fae68f4229a94a5e1f64c19ae) format("woff2"), url(/fonts/lato-black-webfont.woff?0af454d0b7cdc4d21e63ab5667baafbb) format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 16px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 10 30px;
}

.header-nav {
  display: flex;
}

.header ul {
  display: flex;
}

.header ul li {
  list-style-type: none;
}

.header ul li a {
  font-family: "Lato Regular";
  color: #000000;
}

