.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include md-breakpoint() {
        justify-content: space-between;
        align-items: unset;
        flex-direction: row;
        margin-top: 50px;
        margin-bottom: 20px;
        padding: 0 90px;
    }
    
    &-name{
        font-weight: 600;
    }
    
    &-links {
        width: 100%;
        
        @include md-breakpoint() {
            width: 50%;
        }
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            
            @include md-breakpoint() {
                align-items: unset;
                flex-direction: row;
            }

            li {
                list-style-type: none;
            }
        }

        .help {
            display: flex;
            align-items: center;

            .icon {
                margin-right: 5px;
            }

        }

        a {
            color: $color-text;
            text-decoration: none;
            font-weight: 600;
        }
    }
}