.header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 10px 30px;

    &-nav {
        display: flex;

        a {
            width: 40px;

            img {
                width: 100%;
            }
        }
    }
    
    ul {
        display: flex;

        li {
            position: relative;
            padding: 0 10px;
            list-style-type: none;

            a  {
                font-family: $font-lato-regular;
                color: $color-text;
            }

            .activ-link {
                &::before {
                    content: '';
                    position: absolute;
                    background: $gradient-red;
                    bottom: -30%;
                    left: 10%;
                    width: 80%;
                    height: 2px;
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -30%;
                    right: 0;
                    width: 3px;
                    height: 3px;
                    border-radius: 100%;
                    background: $gradient-red;
                }
            }
        }
    }

    &-id {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 20%;
    }
}

