// Layout
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    @include font-size(16px);
    margin: 0 auto;
    overflow-x: hidden;
    height: 100%;
}


main{
    margin-top: 94px;
    flex-grow: 1;
}


.page-dashboard{
    main{
        margin-top: 0;
    }
}