// Layout
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    @include font-size(16px);
    margin: 0 auto;
    overflow-x: hidden;
    height: 100%;

    &.page-create{
        .modal-backdrop{
            display: none;
        }
    }
}


main{
    margin-top: 94px;
    flex-grow: 1;
    overflow-x: hidden;
    
    @include md-breakpoint() {
        overflow-x: unset;
    }
}