// Breakpoint

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

@mixin xs-breakpoint() {
    @media (min-width: $xs) {
        @content;
    }
}

@mixin sm-breakpoint() {
    @media (min-width: $sm) {
        @content;
    }
}

@mixin md-breakpoint() {
    @media (min-width: $md) {
        @content;
    }
}

@mixin lg-breakpoint() {
    @media (min-width: $lg) {
        @content;
    }
}

@mixin xl-breakpoint() {
    @media (min-width: $xl) {
        @content;
    }
}


// Font 
@mixin title-small-bold($color : $color-text){
    font-family: $font-lato-bold;
    font-weight: normal;
    font-size: rem(16);
    color: $color;
}

@mixin text($color: $color-text){
    font-family: $font-lato-light;
    font-weight: normal;
    font-size: rem(16);
    color: $color;
}